<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">จำนวนสินค้า</a>
  </div>
</nav>
<div class="container" *ngFor="let food of DetailCustomer; let i = index">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{food.food_name}}</mat-card-title>
        <img mat-card-xl-image src="{{food.image}}" style="width: 48%;">
      </mat-card-title-group>
    </mat-card-header>
    <h6>&nbsp; จำนวนสินค้า {{food.amount}}</h6>
    <mat-card-content>
      <h2>ราคา {{food.price}}</h2>
    </mat-card-content>
  </mat-card>
</div>
<button mat-flat-button color="primary" (click)="close()" style="margin-top: 50px;">กลับ</button>


